:root {
  --primary-bg-color: #285164;
  --text-color: #fff;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

body,
h1,
ul {
  font-family: "Cascadia Mono", monospace;
  font-style: italic;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-family: "Cascadia Mono", monospace;
  font-style: italic;
  width: 400px;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */

  margin: 0 auto;
  height: 100px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: rgb(75, 75, 66);
  opacity: 80%;
  border-radius: 5px;
}

h4 {
  font-family: "Cascadia Mono", monospace;
  font-style: italic;
  width: 600px;

  margin: 0 auto;
  height: 275px;
  margin-bottom: 20px;
  background-color: rgb(75, 75, 66);
  opacity: 80%;
  padding: 20px;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
}

p {
  width: 400px;
  /* border: 1px solid rgba(220, 20, 60, 0.378); */
  margin: 0 auto;
  height: 100px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: rgb(75, 75, 66);
  opacity: 80%;
  border-radius: 5px;
}

p {
  font-family: "Cascadia Mono", italic;
}

body {
  background-color: var(--primary-bg-color);
  /* color: var(--text-color); */
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: rgb(95, 111, 55);
  color: var(--main-text-color);
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-size: xx-large;
}

/* Navigation styling */
nav {
  margin-top: 20;
  text-align: center;
}

/*parallax scrolling*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}
.parallax {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-attachment: fixed; /*parralax*/
}
.story-content {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: black;
  max-width: 80%;
  border-radius: 20px;
}

/*sectioning*/
#section1 {
  background-image: url("Background1.png");
}

#section2 {
  background-image: url("Background2.png");
}

#section3 {
  background-image: url("Background3.png");
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  color: #fff;
}

nav ul li {
  margin-right: 20px;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
  font-family: "Cascadia Mono", monospace;
  font-size: x-large;
}

.media-player audio {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-controls {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  color: black;
  /* color: rgb(202, 151, 122); */
  border-radius: 12px;
  background-color: rgba(212, 198, 116, 0.8);
}

button:hover {
  scale: 0.5;
  background-color: rgba(215, 153, 72, 0.4);
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
