* {
    color: hotpink;
}
body {
    background-color: beige;
    color: gray;
    font-size: 3rem;
}

section {text-align: center ;}
h1 {
    color: limegreen;
}
li {
    color: purple;
    font-size: 3rem;
        font-family: "Barriecito", system-ui;
        font-weight: 400;
        font-style: normal;      
}
/*h2 {
    color: red;
}*/
h2,
h3 {
    color: rgb(53, 122, 53);
    font-size: 1.4rem;
    text-transform: uppercase;
}
.blue-color{
    color: blue;
}

.yellow-color {
    color: yellow;
}
#second-para {
    color: chocolate;
}
p{
    border: 1px solid crimson;
    width: 400px;
    min-height: 100px;
    margin-left: 30px;
    margin: 0 auto;
}
.vcentre{
    line-height: 300px;
}
/*
h1 {
    color: blue;
}
h2 {
    color: yellow;
h3 {
    color: 
